@import url("https://fonts.googleapis.com/css?family=Poppins:700");

body {
	margin: 0;
	padding: 0;
/*font-family: 'Merriweather', serif;
	color: white;*/
/*	background-color: yellow;
*/	/*font-size:40px;*/
	display: flex;
	flex-direction:column;
	align-items: center;
	}


.allthree
{
	width: 100%;
	align-self: center;
	text-align: center;
}
.main{
		background-image: url("back.jpeg");
		 background-size: 100%;
		height:100%;
	display:flex;
	justify-content: center;
	align-items: center;


}

.aboutme
{
	background-color: 
	background-size:100%;
	height: 100%;
	background-color:#DA7074;


}
/*this is for the stripes*/
.Projects 
{
background-color: #DA7074;
background-size: 100%;
height:100%;
}


.Contact
{
		background-color:#DA7074;
background-size: 100%;
height:100%;
}

p
{
	color:white;
	font-size:20px;
}

.myName{
	color: white;
	background-color: rgba(0,0,0,0.5);
	
	
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #DA7074; }
}

.typewriter{
color:white;
font-size: 40px;
text-align: center;
	height:13%;
font-family: 'Merriweather', serif;
	padding-bottom: 0.5%;
}


/*for the overlay and hover thing

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 23%;

}

.container3 {
  position: relative;
  width: 23%;
  height: 29%;

}
.container4 {
  position: relative;
  width: 18%;
  height: 29%;

}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
  margin-left: 5%;
  border-radius: 10%;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
	  
margin-left: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DA7074;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}


/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
    border-radius: 10%
}
.container3:hover .overlay {
  transform: scale(1);
    border-radius: 10%
}
.container4:hover .overlay {
  transform: scale(1);
    border-radius: 10%
}


/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.right{
	display: flex;
		flex-direction: row;

}

.up{
	display: flex;
	justify-content: center;
		justify-content: space-around;

}


.down{
	display: flex;
	justify-content: center;
	justify-content: flex-end;
		justify-content: space-around;
		
	}

.aboutimg
{
	height:10%;
	width: auto;
	margin-bottom: 2%;
}

/*_-----------------*/
/* Container needed to position the overlay. Adjust the width as needed */
.container2 {
  position: relative;
  width: 30%;




}

/* Make the image to responsive */
.image2 {

  width: 100%;
  height: auto;
  margin-left: 20%;
  	margin-top: 10%;

}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay2 {
	  margin-left: 20%;


  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DA7074;
   background-color: 
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;

}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container2:hover .overlay2 {
  transform: scale(1);
    border-radius: 10%;


}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text2 {
font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  font-size: 139%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.icontitle{
	font-family: 'Oswald', sans-serif;
font-size:400%;
font-weight: 20%;
color:white;
margin-left: 40%;
}


.contacticons
{
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.links{
	margin-top: 2%;
  font-size: 200%;
	display: flex;
	justify-content: center;
	justify-content: space-around;

}


.iconc{
margin-top: 12%;
	width:7%;
	height: 12%;
}


.arrow{
	width: 50%

}


.dm{
   height: 100%;
  width: auto;
  margin-left: 5%;
  border-radius: 10%;
}
.whole{
  height: 100%;
  background-color: black;
}
.video{
  height: 80%;
}
.title{
  font-family: 'Oswald', sans-serif;
font-size:400%;
font-weight: 20%;
color:#DA7074;

}

.up2{
  display: flex;
  justify-content: center;
    justify-content: space-around;
  
}

